:root {
    --colorprimary: #58A7DB;
    --colorprimaryshade: #2E91D2;
    --colorsecondary: #D690BA;
    --colorsecondaryshade: #C86BA3;
}

body {
    background-color: #f4f4f4;
    color: black;
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    background-color: var(--colorprimary);
    overflow: auto;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}

.navbar a:hover {
    background-color: var(--colorprimaryshade);
}

.navbar a.active {
    background-color: var(--colorsecondary);
}

.navbar a.active:hover {
    background-color: var(--colorsecondaryshade);
}
